[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.mediaflow-preview {
  margin-bottom: 10px; }
  .mediaflow-preview .thumb {
    float: left;
    width: 150px;
    height: 150px; }
    .mediaflow-preview .thumb.empty {
      border: 1px dashed #333;
      border-radius: 3px; }
    .mediaflow-preview .thumb img {
      margin-right: 1em;
      border-radius: 3px; }
  .mediaflow-preview .mediaflow-meta dt {
    width: 100px;
    float: left;
    font-weight: bold;
    text-align: right;
    padding: 0 10px 4px 0; }
  .mediaflow-preview .mediaflow-meta dd {
    clear: right;
    font-size: 110%;
    padding: 0 10px 4px 0; }

.matrixblock .mediaflow-fold {
  margin: 1.2em -14px 0 -14px;
  padding: 10px 14px; }

.mediaflow-fold {
  position: relative;
  margin: 1.2em -24px 0 -24px;
  padding: 10px 24px;
  background: #333; }
  .mediaflow-fold input[type="file"] {
    visibility: hidden;
    width: 0;
    height: 0; }
  .mediaflow-fold .mediaflow-spinner {
    margin-left: 4px; }
  .mediaflow-fold .close {
    color: white; }
  .mediaflow-fold .thumbs li {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 12px 12px 0 0;
    float: left;
    display: block;
    cursor: pointer; }
    .mediaflow-fold .thumbs li img {
      width: 100px;
      height: 100px;
      border-radius: 3px;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      .mediaflow-fold .thumbs li img:hover {
        width: 110px;
        height: 110px;
        -webkit-transform: translate(-5px, -5px);
        -moz-transform: translate(-5px, -5px);
        -o-transform: translate(-5px, -5px);
        -ms-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px); }
  .mediaflow-fold .close {
    float: right; }
  .mediaflow-fold:after {
    bottom: 100%;
    left: 5%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #333;
    border-width: 10px;
    margin-left: -10px; }

@-webkit-keyframes mediaflow-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes mediaflow-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes mediaflow-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes mediaflow-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* Styles for old versions of IE */
.mediaflow-spinner {
  font-family: sans-serif;
  font-weight: 100; }

/* :not(:required) hides this rule from IE9 and below */
.mediaflow-spinner:not(:required) {
  -webkit-animation: mediaflow-spinner 1250ms infinite linear;
  -moz-animation: mediaflow-spinner 1250ms infinite linear;
  -ms-animation: mediaflow-spinner 1250ms infinite linear;
  -o-animation: mediaflow-spinner 1250ms infinite linear;
  animation: mediaflow-spinner 1250ms infinite linear;
  border: 4px solid #fff;
  border-right-color: transparent;
  border-radius: 16px;
  box-sizing: border-box;
  display: inline-block;
  text-indent: -9999px;
  width: 24px;
  height: 24px; }
