<div ng-app="mediaflow" ng-controller="MediaFlowFieldCtrl">
    <div ng-hide="connection" class="error">
        Failed to connect to Mediaflow using current settings
    </div>
    <div ng-show="connection">
        <h3>Browse Mediaflow files</h3>

        <p><img ng-src="[[selected.thumbnailUrl]]" ng-show="selected"/></p>
        <p><input type="button" value="Browse" class="btn" ng-click="showMedia = !showMedia;"/></p>
        <div ng-show="showMedia">
            <ul ng-repeat="medium in media">
                <li><img ng-click="select(medium)" ng-src="[[medium.thumbnailUrl]]" style="float:left" /></li>
            </ul>
        </div>
        <textarea id="mf-helper" ng-show="false">
            {{value|raw}}
        </textarea>
        <input type="hidden" value="[[selected|json]]" name="{{name}}" />
    </div>
</div>
{% includeJsResource "mediaflow/mediaflow-ng.js" %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>