<div class="mediaflow-app" ng-controller="MediaFlowFieldCtrl" id="{{id}}">
    <div ng-hide="connection" class="error" class="ng-cloak">
        Failed to connect to Mediaflow using current settings
    </div>
    <div ng-show="connection">
        <p><img ng-src="[[selected.thumbnailUrl]]" ng-show="selected"/></p>
        <p><input type="button" value="[[showMedia ? 'Hide' : 'Browse']]" class="btn add" ng-click="showMedia = !showMedia;"/></p>
        <div ng-show="showMedia">


            <div class="elements">
                <ul class="thumbsview">
                    <li ng-repeat="medium in media">
                        <div class="element hasthumb" ng-click="select(medium)">
                            <img ng-show="medium.isImage" class="elementthumb elementthumb4" ng-src="[[medium.thumbnailUrl]]" />
                            <div class="label"><span class="title">[[medium.name]]</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div ng-init="selected={{value|json_encode()}}"></div>
        <input type="hidden" value="[[selected|json]]" name="{{name}}" />
    </div>
</div>
{% includeJsResource "mediaflow/angular.min.js" %}
{% includeJsResource "mediaflow/angularjs-file-upload.js" %}
{% includeJsResource "mediaflow/mediaflow-ng.js" %}
{% includeJsResource "mediaflow/craft-field-modal.js" %}
{% includeJsResource "mediaflow/bootstrap.js" %}
{% includeCssResource "mediaflow/style.css" %}
{% if inMatrix %}
<script>
    mediaflowBootstrap();
</script>
{% endif %}
