<div class="mediaflow-app" ng-controller="MediaFlowCtrl">
    <div ng-hide="connection" class="error" class="ng-cloak">
        Failed to connect to Mediaflow using current settings
    </div>
    <div ng-show="connection" ng-controller="MediaFlowFieldCtrl">
        <div class="mediaflow-preview clearafter">
            <div class="thumb" ng-class="{empty:!selected}">
                <img ng-src="[[selected.thumbnailUrl]]" ng-show="selected">
            </div>
            <div class="mediaflow-meta" ng-show="selected">
                <dl>
                    <dt>Name</dt>
                    <dd>[[selected.name]]</dd>
                    <dt>Dimensions</dt>
                    <dd>[[selected.file.width]]x[[selected.file.height]]</dd>
                    <dt>Size</dt>
                    <dd>[[selected.file.size|sizeConverter]]</dd>
                </dl>
            </div>
        </div>

        <button
            type="button"
            class="btn dashed"
            ng-show="!showMedia"
            ng-click="showMedia = true">Browse</button>
        <button
            type="button"
            class="btn danger"
            ng-show="selected"
            ng-click="selected = false">Remove</button>

        <div ng-show="showMedia" class="mediaflow-fold">
            <div class="clearafter">
                <div class="texticon search icon">
                    <input class="text nicetext"
                        type="search"
                        autocomplete="off"
                        ng-model="searchText"
                        placeholder="Search">
                    <input type="file" multiple ng-file-select="onFileSelect($files)">
                    <button data-icon="↑" type="button"
                        ng-click="triggerFileSelect($event)"
                        class="btn upload-button">
                        Upload
                    </button>
                    <div class="mediaflow-spinner" ng-class="{hidden: !spin}">Loading ...</div>
                    <a class="close" ng-click="showMedia = false">Close</a>
                </div>
            </div>

            <div class="thumbs clearafter">
                <ul>
                    <li ng-repeat="medium in media">
                        <img ng-show="medium.isImage"
                            ng-src="[[medium.thumbnailUrl]]"
                            ng-click="select(medium)"
                        >
                    </li>
                </ul>
            </div>
        </div>
        <div ng-init="selected={{value|json_encode()}}"></div>
        <input type="hidden" value="[[selected|json]]" name="{{name}}" />
    </div>
</div>
{% includeJsResource "mediaflow/angular.min.js" %}
{% includeJsResource "mediaflow/angularjs-file-upload.js" %}
{% includeJsResource "mediaflow/mediaflow-ng.js" %}
{% includeJsResource "mediaflow/bootstrap.js" %}
{% includeCssResource "mediaflow/style.css" %}
{% if inMatrix %}
<script>
    mediaflowBootstrap();
</script>
{% endif %}
